<h1>Listing todos</h1>
<%= form_for(Todo.new) do |f| %>
  <%= f.text_field :title %>
  <%= f.submit %>
<% end %>

<ul>
<% @todos.each do |todo| %>
  <li>
    <input type="checkbox" disabled <%= todo.done ? 'checked' : '' %>>
    <%= todo.title %>
    <%= link_to 'Edit', edit_todo_path(todo) %>
    <%= link_to 'Destroy', todo, confirm: 'Are you sure?', method: :delete %>
  </li>
<% end %>
</ul>
